.informational {
    display: flex;
    min-height: 600px;
    width: 50%;
    background-color: #491116f8;
    color: rgb(255, 255, 255);
}

.informational-container {
    align-self: center;
    width: 60%;
    max-width: 1000px;
    margin-left: 5rem;
    margin-top: 2rem;
}

.informational-container h1{
    letter-spacing: .5px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.informational-underline {
    width: 100px;
    height: 6px;
    background-color: rgb(255, 252, 252);
    margin-bottom: 2rem;
}

.informational-list-item h2{
    font-size: 25px;
    font-weight: 300;
    margin-top: 1rem;
}

.informational-list-item p{
    font-weight: 300;
}



@media screen and (max-width: 1300px) {
    .fit {
        min-height: 200px;
    }

    .informational {
        width: 100%;
        justify-content: center;
    }

    .informational-container
    {
        margin-left: 0;
        width: 90%;
        max-width: 800px;
    }
}

@media screen and (max-width: 600px) {
    .informational-list-item h2{
        font-size: 20px;
    }
    
    .informational-list-item p{
        font-size: 16px;
    }
}
